package ${package}.${moduleName}.dao;

import ${package}.${moduleName}.entity.${className}Entity;
import com.baomidou.mybatisplus.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

import java.util.List;
import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */

@Mapper
public interface ${className}Dao extends BaseMapper<${className}Entity> {

    List<${className}Entity> selectListByMap(Map<String, Object> param);

    int selectCounts();

}
